.product-image {
  height: 150px;
  overflow: hidden;
  object-position: center;
  object-fit: fill;
}
.product-card {
  text-decoration: none;
}

.product-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
